@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700;800&family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --dark: #101214;
  --gray: #171c22;
  --gray-light: #3a4650;

  --white: #f5f5f5;

  --yellow: #ffdc00;
  --yellow-light: #ffe866;

  --green: #00f10c;

  --border: rgba(255, 255, 255, 0.08);

  --radius-card: 24px;
  --radius-button: 20px;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;

  background: var(--dark);
  color: var(--white);

  font-family: "League Spartan", sans-serif;
  font-weight: 300;
}

.heading-font {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
}

.body-font {
  font-family: "League Spartan", sans-serif;
  font-weight: 300;
}

.text-main {
  color: var(--white);
}

.text-yellow {
  color: var(--yellow);
}

.text-green {
  color: var(--green);
}

.bg-main {
  background: var(--dark);
}

.bg-card {
  background: var(--gray);
}

@media (max-width: 768px) {
  .mobile-scale {
    transform: scale(0.9);
    transform-origin: top center;
    width: calc(100% / 0.9);
    height: calc(100% / 0.9);
  }
}
